.header {
  padding: var(--default-padding) 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerName {
  padding: var(--default-padding) var(--default-padding)
    var(--default-padding) 0;
}

.logoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s;
}

.logo {
  margin-right: 1em;
}

.headerLinks {
  padding: var(--default-padding) 0;
}

.mobileLinkMenu {
  display: none;
  visibility: hidden;
}

.headerLink:hover {
  text-decoration: underline;
}

.headerLink {
  padding: var(--default-padding) 0;
  text-decoration: none;
}

.headerLink:link {
  color: black;
}

.headerLink:visited {
  color: black;
}

.headerLink + .headerLink {
  margin-left: var(--default-margin);
}

.mobileOnly {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .headerLinks {
    display: none;
    visibility: hidden;
  }

  .mobileLinkMenu {
    display: block;
    visibility: visible;
  }

  .mobileOnly {
    display: block;
    visibility: visible;
  }

  .mobileLinks > .headerLink {
    display: block;
    padding: 1em;
    border: 1px solid black;
    margin: 0.5em 0;
  }

  .mobileLinks > .headerLink:first-of-type {
    margin-top: 1em;
  }
}
