.tag {
  padding: var(--default-padding);
  background-color: aliceblue;
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
  margin: var(--default-margin);
}

.button {
  width: 40%;
  height: 3em;
  background-color: var(--button-color);
  border: 2px solid var(--default-border-color);
  color: black;
}

.buttonRow {
  display: flex;
  justify-content: space-around;
}

.header {
  margin-bottom: var(--default-margin);
}

.content {
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
}
