.post {
  overflow: auto;
  border: 1px solid var(--default-border-color);
  padding: var(--default-padding);
  margin: var(--default-margin);
  word-break: break-all;
}

.notPublished {
  opacity: 0.5;
}
