.post {
  position: relative;
  overflow: auto;
  border: 1px solid var(--default-border-color);
  padding: var(--default-padding);
  margin: var(--default-margin);
}

.notPublished {
  opacity: 0.5;
}

.publishStatus {
  position: absolute;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--default-border-color);
  border-left: 1px solid var(--default-border-color);
  padding: 5px;
}
