.post {
  position: relative;
  overflow: auto;
  border: 1px solid var(--default-border-color);
  margin: 0 var(--default-margin) var(--margin-large)
    var(--default-margin);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}

.header {
  padding: var(--default-padding);
  border-bottom: 1px solid var(--default-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-second);
}

.headerText {
  font-size: var(--font-size-header);
}

.buttonRow {
  display: inline-flex;
}

.content {
  padding: 0 var(--default-padding);
}

.footer {
  padding: var(--default-padding);
  border-top: 1px solid var(--default-border-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.notPublished {
  opacity: 0.5;
}

.publishStatus {
  font-size: var(--font-size-small);
  min-width: fit-content;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
