.previewWrapper {
  padding: var(--default-padding);
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.chosenPreview {
  background-color: red;
}

.previewButtons {
  display: flex;
}

.previewButtons > * {
  margin-right: 10px;
}

.editorWrapper {
  background-color: white;
}

.deleteButton {
  background-color: var(--color-red);
}

.noMargin {
  margin: 0;
}

.preview {
  max-height: 80vh;
  overflow-y: auto;
}

.headerInput {
  width: 100%;
  padding: 15px var(--default-padding);
  font-size: var(--font-size-header);
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin: 0;
}

.toolsWrapper {
  display: flex;
  border-top: 1px solid black;
  position: fixed;
  width: 100%;
  margin: 0;
  padding: var(--default-padding);
  bottom: 0;
  left: 0;
  background-color: var(--background-second);
}

.tools {
  width: 100%;
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.popupAchor {
  position: relative;
}

.popup {
  position: absolute;
  bottom: 0;
  background-color: #ccc;
  padding: var(--default-padding);
  visibility: hidden;
}

.popupOpen {
  visibility: visible;
}

.buttonRow {
  display: flex;
  align-items: center;
}

.buttonRow > * {
  margin-right: 5px;
}

.statusIcon {
  margin-right: 5px;
}

.tags {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 5px;
  align-items: center;
  justify-content: space-between;
}

/* .tags > div:nth-child(4n + 1),
.tags > div:nth-child(4n + 2) {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
} */
