rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdminUser() {
      return request.auth != null && "admin" in request.auth.token.roles;
    }

    match /post/{document=**} {
      function isPostOwner() {
        return request.auth != null && request.auth.uid == resource.data.ownerId;
      }

      allow read;
      allow create: if isAdminUser() && request.auth.uid == request.resource.data.ownerId;
      allow update: if isAdminUser() && isPostOwner();
      allow delete: if isAdminUser();
    }
  }
}
