rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdminUser() {
      return request.auth != null && "admin" in request.auth.token.roles;
    }

    match /post/{document=**} {
      allow read;
      allow write: if isAdminUser();
      allow update: if isAdminUser();
      allow delete: if isAdminUser();
    }
  }
}
