@media only screen and (max-width: 768px) {
  .popup {
    left: 20px;
    right: 20px;
  }
}

.closeButton {
  margin-bottom: 1em;
}

.popup {
  position: fixed;
  transition: 0.3s;
  opacity: 1;
  z-index: 10;
  top: 20px;
  background-color: beige;
  padding: var(--default-padding);
}

.overlay {
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  position: fixed;
}
