.closeButton {
  margin-bottom: 1em;
}

.popup {
  position: fixed;
  transition: 0.3s;
  opacity: 1;
  z-index: 10;
  background-color: beige;
  padding: var(--default-padding);
  display: flex;
  flex-direction: column;
  max-width: var(--page-max-width);
  margin: 0 auto;
  width: unset;
  align-items: flex-end;
}

@media only screen and (max-width: 1000px) {
  .popup {
    margin: 0 15px;
  }
}

.unrelative {
  top: 20px;
}

.fullWidth {
  align-items: stretch;
}

.relative {
  width: max-content;
  max-width: 80vw;
  position: absolute;
  left: -50%;
}

.above {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.below {
  top: 100%;
  left: 50%;
}

.popupReverse {
  flex-direction: column-reverse;
}

.overlay {
  opacity: 0.5;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  position: fixed;
}
