.editable {
  cursor: pointer;
}

.userEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--default-padding);
  transition: 0.3s;
}

.userEntry + .userEntry {
  border-top: 1px solid var(--default-border-color);
}

.userEntry:hover {
  background-color: var(--theme-background-color-hover);
}

.logoutButton {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  font-size: var(--font-size-medium);
  background-color: var(--button-color);
  border: 1px solid var(--default-border-color);
  cursor: pointer;
  transition: 0.3s;
}

.logoutButton:hover {
  opacity: 0.9;
}
